INPUT.system-openid {
	PADDING-LEFT: 18px; BACKGROUND: url(http://openid.net/images/login-bg.gif) #fff no-repeat 0px 50%; COLOR: #000
}
INPUT.com-system-openid {
	PADDING-LEFT: 18px; BACKGROUND: url(http://openid.net/images/login-bg.gif) #fff no-repeat 0px 50%; COLOR: #000
}
.system-unpublished {
	BORDER-BOTTOM: #c4d3df 4px solid; BACKGROUND: #e8edf1; BORDER-TOP: #c4d3df 4px solid
}
#system-message {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 10px; PADDING-TOP: 0px
}
#system-message DT {
	FONT-WEIGHT: bold
}
#system-message DD {
	TEXT-INDENT: 30px; MARGIN: 0px; FONT-WEIGHT: bold
}
#system-message DD UL {
	BORDER-BOTTOM: #84a7db 3px solid; PADDING-BOTTOM: 10px; LIST-STYLE-TYPE: none; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 10px; COLOR: #0055bb; BORDER-TOP: #84a7db 3px solid; LIST-STYLE-IMAGE: none; PADDING-TOP: 10px
}
#system-message DT.message {
	DISPLAY: none
}
#system-message DD.message {
	
}
#system-message DT.error {
	DISPLAY: none
}
#system-message DD.error UL {
	BORDER-BOTTOM: #de7a7b 3px solid; BACKGROUND-COLOR: #e6c0c0; COLOR: #c00; BORDER-TOP: #de7a7b 3px solid
}
#system-message DT.notice {
	DISPLAY: none
}
#system-message DD.notice UL {
	BORDER-BOTTOM: #f0dc7e 3px solid; BACKGROUND: #efe7b8; COLOR: #c00; BORDER-TOP: #f0dc7e 3px solid
}
#system-debug {
	PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #fff; MARGIN: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #ccc; PADDING-TOP: 10px
}
#system-debug DIV {
	FONT-SIZE: 11px
}
